AirlineReservastionClient/src/META-INF/wsdl/localhost_8080/AirlineReservation/AirlineReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://airlineReservation.imm.dtu.dk" xmlns:ns="urn:orderData" xmlns:ns0="urn://types.airlineReservation.imm.dtu.dk" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="airlineReservation" targetNamespace="urn://airlineReservation.imm.dtu.dk">
    <types>
        <xsd:schema targetNamespace="urn://airlineReservation.imm.dtu.dk">
            <xsd:import namespace="urn://types.airlineReservation.imm.dtu.dk" schemaLocation="http://localhost:8080/AirlineReservation/AirlineReservationService?xsd=1"/>
        </xsd:schema>
    </types>
	<message name="getFlights">
		<part xmlns:ns1="urn://types.airlineReservation.imm.dtu.dk" name="parametersGetFlights" element="ns1:getFlights"/>
	</message>
	<message name="getFlightsResponse">
		<part xmlns:ns2="urn://types.airlineReservation.imm.dtu.dk" name="returnGetflights" element="ns2:getFlightsResponse"/>
	</message>
	<message name="bookFlight">
		<part xmlns:ns3="urn://types.airlineReservation.imm.dtu.dk" name="parametersBookFlight" element="ns3:bookFlight"/>
	</message>
	<message name="bookFlightResponse">
		<part xmlns:ns4="urn://types.airlineReservation.imm.dtu.dk" name="returnBookFligt" element="ns4:bookFlightResponse"/>
	</message>
	<message name="bookFlightFaultMessage">
		<part xmlns:ns8="urn://types.airlineReservation.imm.dtu.dk" name="faultBookFLight" element="ns8:bookFlightFault"/>
	</message>
	<message name="cancelFlight">
		<part xmlns:ns5="urn://types.airlineReservation.imm.dtu.dk" name="parametersCancelFlight" element="ns5:cancelFlight"/>
	</message>
	<message name="cancelFlightResponse">
		<part xmlns:ns6="urn://types.airlineReservation.imm.dtu.dk" name="returnCancelFlight" element="ns6:cancelFlightResponse"/>
	</message>
	<message name="cancelFlightFaultMessage">
		<part xmlns:ns7="urn://types.airlineReservation.imm.dtu.dk" name="faultCancelFlight" element="ns7:cancelFlightFault"/>
	</message>
	<portType name="AirlineReservationPortType">
		<operation name="getFlights">
			<input message="tns:getFlights"/>
			<output message="tns:getFlightsResponse"/>
		</operation>
		<operation name="bookFlight">
			<input message="tns:bookFlight"/>
			<output message="tns:bookFlightResponse"/>
                        <fault message="tns:bookFlightFaultMessage" name="bookFlightFaultMessage"/>
		</operation>		
		<operation name="cancelFlight">
			<input message="tns:cancelFlight"/>
			<output message="tns:cancelFlightResponse"/>
			<fault message="tns:cancelFlightFaultMessage" name="cancelFlightFaultMessage"/>
		</operation>		
	</portType>
    <binding name="AirlineReservationPortTypeBinding" type="tns:AirlineReservationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="bookFlightFaultMessage">
                <soap:fault name="bookFlightFaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="cancelFlightFaultMessage">
                <soap:fault name="cancelFlightFaultMessage" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AirlineReservationService">
        <port name="AirlineReservationPortTypeBindingPort" binding="tns:AirlineReservationPortTypeBinding">
            <soap:address location="http://localhost:8080/AirlineReservation/AirlineReservationService"/>
        </port>
    </service>
    <plink:partnerLinkType name="AirlineReservationLink">
        <plink:role name="AirlineReservationRole" portType="tns:AirlineReservationPortType"/>
    </plink:partnerLinkType>
</definitions>