HotelResevationService/src/conf/xml-resources/web-services/HotelReservation/wsdl/HotelReservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HotelReservation" targetNamespace="urn://hotelReservation.imm.dtu.dk"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://hotelReservation.imm.dtu.dk" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn://hotelReservation.imm.dtu.dk">
            <xsd:import namespace="urn://types.hotelReservation.imm.dtu.dk" schemaLocation="HotelReservationTypes.xsd"/>
        </xsd:schema>
    </types>
    <message name="getHotels">
        <part xmlns:ns1="urn://types.hotelReservation.imm.dtu.dk" name="parametersGetHotels" element="ns1:getHotels"/>
    </message>
    <message name="getHotelsResponse">
        <part xmlns:ns2="urn://types.hotelReservation.imm.dtu.dk" name="returnGetHotels" element="ns2:getHotelsResponse"/>
    </message>
    <message name="bookHotel">
        <part xmlns:ns3="urn://types.hotelReservation.imm.dtu.dk" name="parametersBookHotel" element="ns3:bookHotel"/>
    </message>
    <message name="bookHotelResponse">
        <part xmlns:ns4="urn://types.hotelReservation.imm.dtu.dk" name="returnBookHotel" element="ns4:bookHotelResponse"/>
    </message>
    <message name="bookHotelFaultMessage">
        <part xmlns:ns4="urn://types.hotelReservation.imm.dtu.dk" name="faultBookHotel" element="ns4:bookHotelFault"/>
    </message>
    <message name="cancelHotel">
        <part xmlns:ns5="urn://types.hotelReservation.imm.dtu.dk" name="parametersCancelHotel" element="ns5:cancelHotel"/>
    </message>
    <message name="cancelHotelFaultMessage">
        <part xmlns:ns6="urn://types.hotelReservation.imm.dtu.dk" name="faultCancelHotel" element="ns6:cancelHotelFault"/>
    </message>
    <portType name="HotelReservationPortType">
        <operation name="getHotels">
            <input name="getHotelsRequest" message="tns:getHotels"/>
            <output name="getHotelsResponse" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input message="tns:bookHotel"/>
            <output name="bookHotelResponse" message="tns:bookHotelResponse"/>
            <fault name="bookHotelFaultMessage" message="tns:bookHotelFaultMessage"/>
        </operation>
        <operation name="cancelHotel">
            <input name="cancelHotelRequest" message="tns:cancelHotel"/>
            <output name="faultCancelHotel" message="tns:cancelHotelFaultMessage"/>
        </operation>
    </portType>
    <binding name="HotelReservationPortTypeBinding" type="tns:HotelReservationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation/>
            <input name="getHotelsRequest">
                <soap:body use="literal"/>
            </input>
            <output name="getHotelsResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output name="bookHotelResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="bookHotelFaultMessage">
                <soap:fault name="bookHotelFaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="cancelHotelRequest">
                <soap:body use="literal"/>
            </input>
            <output name="faultCancelHotel">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HotelReservationService">
        <port name="HotelReservationPortTypeBindingPort" binding="tns:HotelReservationPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
