HotelResevationService/src/java/HotelReservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HotelReservation" targetNamespace="http://j2ee.netbeans.org/wsdl/HotelResevationService/java/newWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/HotelResevationService/java/newWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/HotelResevationService/java/newWSDL" xmlns:tns="http://j2ee.netbeans.org/wsdl/HotelResevationService/java/newWSDL">
            <xsd:import namespace="urn://types.hotelReservation.imm.dtu.dk" schemaLocation="HotelReservationTypes.xsd"/>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="city" type="xsd:string"/>
        <part name="aDate" type="xsd:date"/>
        <part name="deDate" type="xsd:date"/>
    </message>
    <message name="getHotelsResponse">
        <part name="hotels" type="xsd:string"/>
    </message>
    <message name="BookingOperationRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="creditcardInf" type="tns:creditcardType"/>
    </message>
    <message name="BookingOperationResponse">
        <part name="success" type="xsd:boolean"/>
    </message>
    <message name="BookingFault">
        <part name="creditNotValid" type="xsd:string"/>
        <part name="noFunds" type="xsd:string"/>
        <part name="etc" type="xsd:string"/>
    </message>
    <message name="CancelHotelOperationRequest">
        <part name="bookingNumber" type="xsd:string"/>
    </message>
    <message name="CancelHotelOperationResponse">
        <part name="success" type="xsd:boolean"/>
    </message>
    <message name="CancelHotelFault">
        <part name="cancelFault" type="xsd:string"/>
    </message>
    <message name="HotelReservationOperation">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="HotelReservationOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="getHotels">
        <part xmlns:ns1="urn://types.hotelReservation.imm.dtu.dk" name="parametersGetHotels" element="ns1:getHotels"/>
    </message>
    <message name="getHotelsResponse">
        <part xmlns:ns2="urn://types.hotelReservation.imm.dtu.dk" name="returnGetHotels" element="ns2:getHotelsResponse"/>
    </message>
            
    <portType name="HotelReservationPortType">
        <operation name="bookHotel">
            <input name="input2" message="tns:BookingOperationRequest"/>
            <output name="output2" message="tns:BookingOperationResponse"/>
            <fault name="fault1" message="tns:BookingFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input3" message="tns:CancelHotelOperationRequest"/>
            <output name="output3" message="tns:CancelHotelOperationResponse"/>
            <fault name="fault1" message="tns:CancelHotelFault"/>
        </operation>
        <operation name="getHotels">
            <input name="getHotelsRequest" message="tns:getHotels"/>
            <output name="getHotelsResponse" message="tns:getHotelsResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="HotelReservation">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="HotelReservationPortTypeRole" portType="tns:HotelReservationPortType"/>
    </plnk:partnerLinkType>
</definitions>
